* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
:root {
  --color-primary: #fd6e0a;
  --color-secondary: #fff8f3;
  --color-dark-gray: #474747;
}

.btn {
  border: none;
  padding: 18px 36px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-primary {
  background: var(--color-primary);
  color: #ffffff;
}

.btn-secondary {
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
}

/* Header Styles */
.header {
  background-color: var(--color-secondary);
  /* TODO: developer image need to be fixed */
  background: url(./images/header_bg.png) bottom right,
    url(./images/developer.png);
  background-repeat: no-repeat;
}
.header nav {
  padding: 30px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.header ul li {
  margin-right: 50px;
}

/* Navigation */
.nav-link {
  font-weight: 400px;
  cursor: pointer;
  color: var(--color-dark-gray);
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
  letter-spacing: 2px;
}
.nav-title span {
  color: var(--color-primary);
}

/* Banner Styles */
.banner {
  padding-left: 230px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-left h2 {
  font-size: 45px;
  font-weight: 600;
  color: var(--color-dark-gray);
}
.banner-left h1 {
  font-weight: 600;
  font-size: 85px;
}

.banner-left-text {
  margin: 20px 0;
  line-height: 30px;
}
.banner-left-btn button {
  margin-right: 20px;
}

.banner-right img {
  width: 584px;
  height: 710px;
}

/* About Me section design */
main {
  background-color: #ffffff;
}
.about {
  margin: 130px 230px;
  padding: 130px 155px;
  background-color: var(--color-secondary);
}
.about-text {
  text-align: center;
}
.about-text h2 {
  margin-bottom: 30px;
}

.about-point {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
}

/* skill section desing */
.skill {
  margin: 130px 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill p {
  margin: 30px 0;
  text-align: center;
}
.skill-card {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 24%;
  height: 370px;
  padding: 30px;
  box-sizing: border-box;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.card p {
  text-align: left;
  margin-top: 10px;
}

/* Resume Section */
.resume {
  margin: 130px 230px;
}

.resume .btn-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.resume > h1 {
  text-align: center;
  margin-bottom: 50px;
}
.resume > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.education,
.experience {
  width: 49%;
}
.education > h2,
.experience > h2 {
  margin-bottom: 20px;
}
.education-single > h4,
.experience-single > h4 {
  margin: 10px 0px;
  color: var(--color-dark-gray);
}

hr {
  margin: 20px 0;
}

/* Footer Design */
footer {
  padding: 130px 230px;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
}

.social-btn {
  padding: 10px 20px;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}
footer > div {
    width: 49%;
}
footer h2,
.contact p {
    margin-bottom: 20px;
}
input[type=text],
input[type=email],
textarea {
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
